  <li class="row">
    <span class="clickable {%rated_class%}" onclick="javascript:toggleVisibility({%review.id_%})">
      {%type_icon%}
      <img class="noprint icon" id="toggle{%review.id_%}" src="data:image/gif;base64,R0lGODlhDwAPAOMIAAAAAJavxnSHmomgtmZ4iJq0zOLi4gICAv///////////////////////////////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAA8ALAAAAAAPAA8AAAQu8MhJ60E46yy3R0+3XVpIaidmeikootuKWJPbzvHL5XcrwyXdxwZ6GI9IE40WAQA7">
      {%review.entered_date%} {%review.observer%} {%reviewer_level%} on {%review.subject%} ({%subject_level%}), {%review.event_type%} {%review.city%}, {%review.country%}
    </span>
    <div id="review{%review.id_%}" class="hide">
      {%exam_score%}
      {%rated%}
      <p><h2>Strengths</h2>
      <p>{%review.strengths%}
      <p><h2>Areas For Improvement</h2>
      <p>{%review.afi%}
      <p><h2>Comments</h2>
      <p>{%review.comments%}
    </div>
  </li>
