  <li class="row {%row_class%}">
    {%type_icon%}
    <div class="noprint icon plus" id="toggle{%review.id_%}"></div>
    <span class="clickable {%rated_class%}" onclick="javascript:toggleVisibility({%review.id_%})">
      {%review.entered_date%} {%review.observer%} {%reviewer_level%} on {%review.subject%} ({%subject_level%}), {%review.event_type%} {%review.city%}, {%review.country%}
    </span>
    <div id="review{%review.id_%}" class="hide">
      <p>Review ID: {%review.id_%}
      {%exam_score%}
      {%rated%}
      <p><h2>Strengths</h2>
      <p>{%review.strengths%}
      <p><h2>Areas For Improvement</h2>
      <p>{%review.afi%}
      <p><h2>Comments</h2>
      <p>{%review.comments%}
    </div>
  </li>
